html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Arial', sans-serif;
  background: whitesmoke;
  height: 100%;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

$ok: #0681aa;
$cancel: #AB3007;

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
  font-size: 14px;
  padding: 5px 5px;
  border: none;
}

input[type=radio] {
  display: none;
  margin: 10px;
}
input[type=radio] + label {
  cursor: pointer;
  display: inline-block;
  padding: 5px 15px;
  background: #e5e5e6;
  margin: 0px 10px 0 0;
  font-size: 14px;
  border-radius: 3px;
  &:hover {
    background: #d5d5d6;
  }
}
input[type=radio]:checked + label {
  background: $ok;
  color: white;
}


@font-face {
  font-family: jersey;
  src: url(/fonts/collegiateHeavyOutline.ttf);
}

@import "layout";
@import "components/flex-table";
@import "components/grids";
@import "components/modal-dialog";
@import "components/player-card";
@import "components/play-by-play";
@import "components/scoreboard";
@import "components/stat-lines";
@import "components/tabs";

@import "modals/shot";

@import "team";

@import "game-mode";
@import "game-stats";
@import "game/game-overview";

@import "login";