<div class='subtabs'>
  {{#link-to 'team.stats.index'}}
    Stats
  {{/link-to}}
  {{#link-to 'team.stats.graphs'}}
    Custom Graphs
  {{/link-to}}
  {{#link-to 'team.stats.charts'}}
    Shot Charts
  {{/link-to}}
</div>

{{outlet}}