.tab-row {
  font-size: 22px;
  margin: 30px 0 0;
  width: 100%;
  padding-bottom: 5px;
  a {
    display: inline-block;
    margin: 0 30px 0 0;
  }
  a.active {
    font-weight: 600;
    color: $ok;
  }
}