{{#modal-dialog}}
  <div class="shot-modal">
    <div class="title">
      Fouled by
    </div>
    <div class="option-row">
      {{#if controllers.game.leftPlayerSelected}}
        {{modal-card-row colors=controllers.game.model.right team=controllers.game.rightOnCourt action="submit"}}
      {{else}}
        {{modal-card-row colors=controllers.game.model.left team=controllers.game.leftOnCourt action="submit"}}
      {{/if}}
    </div>
  </div>
{{/modal-dialog}}