{{#if session.authed}}
  <div class='header'>
    <div class='title'></div>
    <div class='team'>Teams</div>
    <div class='logout' {{action 'logout'}}>Sign out</div>
  </div>
{{/if}}
<div class="main">
  {{outlet}}
</div>
{{outlet "modal"}}
