{{#if session.authed}}
  <div class='header'>
    {{#link-to "index"}}
      <div class='logo'>Team Analytics</div>
    {{/link-to}}
    <div class='team'>Teams</div>
    <div class='logout' {{action 'logout'}}>Sign out</div>
  </div>
{{/if}}
<div class="main">
  {{outlet}}
</div>
{{outlet "modal"}}
